
---------------------------------------/*--為桌機版增加處--*/
/*Header 字*/
.tlw-txt-zh-head-1{
    font-size:5rem;
    line-height: 150%;
    letter-spacing: 0.84px;
    font-weight: 700;
}

.tlw-txt-zh-head-5{
    margin-top: 10px;
    font-family: Noto Sans TC, sans-serif;
    font-size: 1.8rem;
    line-height: 150%;
    letter-spacing: 0.1px;
    font-weight: 600;
}
/*項目區*/
.txt_justify-1{
    /* text-align: justify; */
    font-family: Noto Sans TC, sans-serif;
    font-size: 18px !important;
    line-height: 200%;
    letter-spacing: 0.1px;
    font-weight: 400;
    /* margin-bottom: 10px; */
    margin-left: 25px;
    margin-right: 20px;
}

.txt_justify-2{
    text-align: justify;
    font-family: Noto Sans TC, sans-serif;
    font-size: 1.5rem;
    line-height: 200%;
    letter-spacing: 0.1px;
    font-weight: 400;
    /* margin-bottom: 10px; */
    /*m argin-left: 25px; */
}

.item{
    font-size: 1.7rem;
    font-weight: bold;
    margin: 10px;
    text-align: left;
}
.container-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}


.list2{
    margin-bottom: 20px;
}


.tab__note{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 100px;

}

ul{
    list-style: outside;
}

li.mg-md{
    margin-left:20px;
    margin-right:20px;
}

.title-name{
    font-size: 2.4rem;
    font-weight:800;
}

.tips_box-section{
    /*margin-bottom: 10px;*/
    margin-top: 3px;
}

.btn_1{
    margin-top: 200px;
}

.text-txt-800{
    font-size: 16px;
    font-weight: 700;

}

h3{
    font-size: 1.9rem;
    padding-top: 10px;
}

.box-area{
    margin: 30px 0 40px;
}

/*--桌機版增加處--*/
/*--手機版增加處--*/
@media only screen and (max-width: 600px) {
    .tlw-txt-zh-head-1{
        font-family: Noto Sans TC, sans-serif;
        font-size: 3rem;
        line-height: 150%;
        letter-spacing: 0.28px;
        font-weight: 700;
    }
}
-------------------------------------/*--手機版增加處--*/
#wrapper {
    background-color: #ffffff;
    padding-right: 7.5rem;
    padding-left: 7.5rem;
}

/* .flex_Box_pic img{
    object-fit: cover;
    border-radius: 10px;
} */
.text_w{
    color: #fff !important;
}
a:hover, a:focus {
    color: unset;
}
.pb-32-adjust{
    padding-bottom: 32px;
}
@media only screen and (max-width: 1920px) {
    #wrapper {
        padding-right: 0px;
        padding-left: 0px;
    }
    .pb-32-adjust{
        padding-bottom: 32px;
    }
}

@media only screen and (max-width: 1024px) {
    #wrapper {
        padding-right: 40px;
        padding-left: 40px;
    }
}

@media only screen and (max-width: 768px) {
    #wrapper {
        padding-right: 0px;
        padding-left: 0px;
    }
}
@media only screen and (max-width: 520px) {
    .pb-32-adjust{
        padding-bottom: 0px;
    }
}
.dot_orange{
    flex: 1 1 0%;border-radius: 1px;
    background-color: #ec6c00;
    height: .8rem;
    width: .8rem;
    border-radius: 1px;
    margin-bottom: 10px;
}
.dot_w{
    flex: 1 1 0%;
    border-radius: 1px;
    background-color: #fff;
    height: .5rem;
    width: .5rem;
    border-radius: 1px;
}


/* container 的 padding */
@media only screen and (min-width: 1920px) {
    .container {
        max-width: 1920px !important;
        padding-right: 20px;
        padding-left: 20px;
    }
}

.section_area {
   padding: 32px 0 0;
}

@media only screen and (max-width: 991px) {
    .section_area {
       padding: 16px 0 0 0;
    }
}

.text-head-2 {
    font-family: Noto Sans TC, sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 150%;
}
.breadcrumb_title {
    font-family: Noto Sans TC, sans-serif;
    font-size: 3.2rem !important;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 150%;
    color: rgb(45 45 45/var(--tw-text-opacity));
}

.breadcrumb_text {
    font-family: Noto Sans TC, sans-serif;
    font-size: 14px !important;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 150%;
    color: #777;
}

.text-body-1 {
    font-family: Noto Sans TC, sans-serif;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: 150%;
    margin-top: 8px;
    font-size: 14px;
}
.textbox_mg {
    padding-right: 80px;
    padding-left: 80px;
}

@media only screen and (max-width: 1200px) {
    .textbox_mg {
        padding-right: 16px;
        padding-left: 16px;
    }
}

.text-head-1 {
    font-family: Noto Sans TC, sans-serif;
    font-size: 2.7rem;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: 150%;
}

.text-head-3 {
    font-family: Noto Sans TC, sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 150%;
}


/* * .div{
    display: block;
} */

.pl-md {
    padding-left: 16px;
}

.mg-md {
    margin-top: 10px;
    margin-bottom: 10px;
}


.txt_1 {
    color: #575757;
}

.txt_2 {
    color: #2d2d2d !important;
}

.text_black {
    color: #000 !important;
}

.bg-gray {
    background-color: #F9F9F9;
}

.bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: #f4f4f4;
    background-color: rgb(244 244 244/var(--tw-bg-opacity))
}

.breadcrumb_Area {
    padding-top: 24px;
    padding-bottom: 24px;
}

.tlw_orange_font {
    color: #DB732B;
    /* #ec6c00; */
}


.hero_container {
    position: relative;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
    width: 100%;
    /* padding-right: 7.5rem;
    padding-left: 7.5rem; */

}

.flex_box {
    display: flex;
    /* flex-wrap: wrap; */
}

/* .greyBox {
    display: inline-block;
    border-radius: 12px;
    padding: 64px 40px;
    max-height: 420px;
    height: 420px;
    width: 38%;
    margin-right: 16px;
} */
.greyBox {
    display: inline-block;
    border-radius: 12px;
    padding: 120px 40px;
    /* max-height: 420px; */
    /* height: 420px; */
    width: 36%;
    /* width: 384px; */
    margin-right: 16px;
}
.greyBox_fullwidth {
    display: block;
    border-radius: 12px;
    padding: 50px 40px;
    /* max-height: 420px; */
    height: auto;
    width: 100%;
    margin-right: 16px;
}

/* .object-cover {
    display: flex;
    max-height: 420px;
    height: 100%;
    width: 64%;
} */
.object-cover {
    display: flex;
    max-height: 500px;
    /* height: 420px; */
    /* height: 100%; */
    width: 64%;
    /* width: 784px; */
    padding-left: 0px;
}
.object-cover img {
    object-fit: cover;
    max-height: 550px;
    border-radius: 12px;
    height: 480px;
    /* height: 100%; */
    /* min-height: 472px; */
}

.object-cover-collection {
    display: flex;
    max-height: 500px;
    /* height: 420px; */
    /* height: 100%; */
    width: 64%;
    /* width: 784px; */
    padding-left: 0px;
}
.object-cover-collection img {
    object-fit: cover;
    max-height: 550px;
    border-radius: 12px;
    height: 400px;
    /* min-height: 472px; */
}
@media only screen and (max-width: 768px) {

    .object-cover img {
        height: 300px; /*400px */
        padding: 16px;
        border-radius: 28px;
    }
    .object-cover-collection img {
        height: 280px; 
    }
} 




.contentBox {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* padding-right: 7.5rem;
    padding-left: 7.5rem; */

}



.par {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
}

/* @media only screen and (max-width: 1200px) {
    .par{

    }
} */

@media only screen and (max-width: 1024px) {
    .hero_container {
        flex-direction: column;
        text-align: center;
    }

    .greyBox {
        padding: 32px 20px;
        height: auto;
        width: 100%;
    }

    .object-cover,.object-cover-collection {
        height: auto;
        width: 100%;
    }

    .pl-sm {
        padding-left: 0px;
    }

    .breadcrumb_title {
        font-family: Noto Sans TC, sans-serif;
        font-size: 1.5rem !important;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 150%;
        color: rgb(45 45 45/var(--tw-text-opacity));
    }
    
    .breadcrumb_text {
        font-family: Noto Sans TC, sans-serif;
        font-size: 1.4rem !important;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 150%;
        color: #777;
    }

    .text-head-2 {
        font-size: 2.5rem;
    }

    .text-head-1 {
        font-size: 1.9rem;
        font-weight: 800;
    }

    .text-body-1 {
        font-size: 1.3rem;
        font-weight: 500;
    }

    .par {
        display: flex;
        padding-top: 2px;
        padding-bottom: 2px;
    }


}
@media only screen and (max-width: 991px) {
    .flex_box {
        margin: 8px auto;
    }
}
@media only screen and (max-width: 768px) {
    .news_text_hero {
        width: 93%;
    }
}

.tips_box {
    position: relative;
    max-width: 1920px;
    padding-top: 22px;
    padding-bottom: 22px; 
    width: 525%;
    height: 90%;
    border: #ec6c00 2px solid;
    border-radius: 8px;
    color: #000;
    background-color: #ffffff;
    /* display: flex;
    flex-wrap: wrap; */
}

.tips_box_content {
    justify-content: center;
}

.tips_box_content_textTitle1 {
    font-size: 1.4rem;
    font-weight: 750;
    line-height: 2em;
    color: #000000;
    padding: 10px;
}

.tips_box_content_textTitle2 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2em;
    color: #000000;
    padding: 10px;
}
/* .tips_box-section.flex_box tips_box_content.span img{
    width: 16px;
   margin-top: -20px;
   height: auto;
   transform: translate(-50%, 100%);
 } */

@media only screen and (max-width: 1439px) {
    .tips_box_content_textTitle1,.tips_box_content_textTitle2 {
        font-size: 1.1rem;
        line-height: 2rem;
    }

    .tips_box_content {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }  
}


    .tips_box {
        padding: 32px 32px;/*   8px 32px */
    }
@media only screen and (max-width: 1024px) {
    .tips_box {
        padding: 12px 32px;
    }
}

@media only screen and (max-width: 991px) {
    .tips_box_content {
        display: inline-flex;
        flex-direction: row;
        /* flex-wrap: nowrap; */
        align-content: center;
        /* align-items: flex-start; */
    }
    .tips_box {
        padding: 0 32px 16px 32px;
    }
    .tips_box_content_textTitle1,.tips_box_content_textTitle2 {
        padding: 4px;
    }
    
}
@media only screen and (max-width: 520px) {
    /* .tips_box {
        padding: 16px;
    } */
    .tips_box_content_textTitle1{
        line-height: 1rem;
    }
    .tips_box_content_textTitle1,.tips_box_content_textTitle2 {
        padding: 2px;
    }
}



.flex_container {
    display: flex;
}

.flex_container_Box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /* margin: 16px; */
    width: 100%;
}
.flex_box_50{
    display: flex;
    flex-wrap: wrap;
    margin: 16px auto;
    width: 48%;
}

.flex_box_100{
    display: flex;
    flex-wrap: wrap;
    margin: 8px auto;
    width: 100%;
}

.flex_Box_pic {
    width: 30%;
    padding-right: 16px;
    padding-left: 16px;
}
.flex_Box_pic img{
    border-radius: 4px; 
}

.flex_Box_text {
    width: 20%;
    padding-right: 16px;
    padding-left: 16px;
}

@media only screen and (max-width: 1210px) {
    .flex_Box_pic {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 991px) {
    .flex_container_Box {
        margin: 0;
    }

    .flex_Box_pic {
        width: 100%;
        height: auto;
        padding: 0;
    }

    .flex_Box_text {
        width: 90%;
        padding-right: 8px;
        padding-left: 8px;
    }
    .flex_box_50{
        width: 100%;
    }


}


.title_box {
    max-width: 1920px;
    padding: 16px 30px;
    width: 100%;
    border-radius: 8px;
    color: #000;
    background-color: #f4f4f4;
    font-size: 22px;
    font-weight: 650;
    line-height: 2.2rem;
}

.title_box_title{
    font-size: 2rem;
    font-weight: 650;
    line-height: 6rem;
    color: #000000;
}
.title_box_text {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: 150%;
    color: #575757;
    padding: 16px 30px;
}

.align_5_percent {
    padding-left: 5%;
}
.align_15_percent {
    padding-left: 10%;
}
.justify_center{
    align-self: center;
}

@media only screen and (max-width: 991px) {
    .title_box_title{
        font-size: 1.5rem;
        font-weight: 650;
        line-height: 2rem;
    }
    .align_15_percent {
        padding-left: 2%;
    }

}

@media only screen and (max-width: 490px) {
    .align_15_percent {
        padding: 0%;
    }
}



/* video */
.video_box {
    position: relative; 
    width: 64%; 
    /* max-height: 480px;  */
    height: 472px; 
    overflow: hidden;
}

.video_box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

@media only screen and (max-width: 1025px) {

    .video_box {
        width: 100%;
        height: 480px;
        /* height: 100%; */
        /* max-height: 480px;  */
        /* padding-bottom: 100%; */
    }
}

 @media only screen and (max-width: 520px) {

    .video_box {
        height: 400px; 
    }
} 

.qrcode_area{
    position: relative;
    display: flex;
    align-items: center;  
}




/* table start */
.table_layout {
    padding: 32px 0;
    /* max-width: 1400px; */
    width: 90%;
    margin: 32px auto 0 auto;
    border-radius: .5rem;
}
.w-full{
    width: 100%;
}
.overflow-auto {
    overflow: auto;
}
.border-gray-300 {
    --tw-border-opacity: 1;
    border: 1px #efefef solid;
}
td, th{
    left: 0;
    position: sticky;
    z-index: 10;
    padding: 1rem;
}
th{
    background-color: #575757;
    color:#fff;
}
th:first-child{
    border-radius: .5rem 0 0 0;
}
th:last-child{
    border-radius: 0 .5rem 0 0;
}

@media only screen and (max-width: 991px) {
    .table_layout {
        padding: 16px 0 0 0;
        /* max-width: 1400px; */
        width: 90%;
        margin: 32px auto 0 auto;
    }
}
@media only screen and (max-width: 500px) {
    .table_layout {
        padding: 16px 0 16px 0;
        width: 100%;
        margin: 16px auto;
    }
}



/* 覆蓋style.css */
.text_left_important{
    text-align: left !important;
}
.mg-center{
    margin: auto;
}
.text-center{
    text-align: center !important;
}
.edmsp_block_cateSwiperGroup .edmsp_block_cateSwiper_cates a.showTab {
    background-color: #ffffff !important;
    cursor: unset;
}
.edmsp_section_block,.edmsp_block_cateSwiperGroup{
    margin: 0 auto;
    padding: 0;
}
.wc20 {
    /* float: left; */
    width: 20%;
    /* padding: 5px; */
    display: flex;
    padding-right: 16px;
    padding-left: 16px;
}
.wc25 {
    /* float: left; */
    width: 25%;
    /* padding: 5px; */
    display: flex;
    padding-right: 16px;
    padding-left: 16px;
}
.wc30 {
    width: 30%;
    display: flex;
    padding-right: 16px;
    padding-left: 16px;
}
.wc40 {
    width: 40%;
    display: flex;
    padding-right: 16px;
    padding-left: 16px;
}
.wc50 {
    /* float: left; */
    width: 50%;
    /* padding: 5px; */
    display: flex;
    padding-right: 16px;
    padding-left: 16px;
}
.wc60 {
    width: 60%;
    /* display: flex; */
    padding-right: 16px;
    padding-left: 16px;
}
.wc70 {
    width: 70%;
    display: flex;
    padding-right: 16px;
    padding-left: 16px;
}
.wc75 {
    width: 75%;
    display: flex;
    padding-right: 16px;
    padding-left: 16px;
}

.wc100 {
    /* float: left; */
    width: 100%;
    padding: 5px;
    /* display: flex; */
    /* padding-right: 16px; */
    /* padding-left: 16px; */
}

@media only screen and (max-width: 991px) {
    .wc20,.wc25,.wc30,.wc40,.wc50,.wc60,.wc70,.wc100{
    width: 100%;
    /*padding-right: 25px;*/
    /*padding-left: 16px;*/
    }   

}

.bg_w{
    background-color: #fff;
}
.bg_tlw{
    background-color: #ec6c00;
}
.bg_dark_grey{
    background-color:#575757;
}


/* button */
/* .btn_reservation_area{

} */
.btn_reservation{
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .7px;
    line-height: 160%;
    width: 130px;
    height: 40px;
    border-width: 1px;
    border-radius: 30px;
    /* position: absolute; */
    /* right: 5%;
    top: 30%; */
}
.btn_reservation:hover{
    background-color: #2d2d2d;
}
.btn_reservation_text {
    position: absolute;
    transform: translate(-48%, 26%);
}
.btn_reservation_text2 {
    position: absolute;
    transform: translate(45%, 30%);
}
.btn_reservation_text:hover,.btn_img_reservation:hover{
    color: #fff;
    background-color: #2d2d2d;
}

.btn_img_reservation {
    /* display: block; */
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .7px;
    line-height: 160%;
    width: 130px;
    height: 40px;
    /* border-width: 1px; */
    border-radius: 30px;
    position: absolute;
    right: 33%;
    bottom: 15%;
    z-index: 999;
}
.btn_more{
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .7px;
    line-height: 160%;
    width: 100px;
    height: 40px;
    border-width: 0px;
    border-radius: 30px;
    /* position: absolute; */
    /* right: 5%;
    top: 30%; */
}
.btn_more_text{
    position: absolute;
    transform: translate(50%, 30%);
    color: #ffffff;
}
.btn_more:hover,.btn_more_text:hover{
    color: #ffffff !important;
    background-color: #ec6c00;
}


.duration-100 {
    transition-duration: .1s;
}

@media only screen and (max-width: 1441px) {
    /*.btn_reservation{
         right: 5%;
        top: 5%; 
    }*/
}

@media only screen and (max-width: 991px) {
    .btn_reservation_text {
        position: relative;
        transform: translate(0, 0%);
    }
    .btn_img_reservation {
        width: 140px;
    }
    .btn_more_text {
        position: relative;
        transform: translate(0, 0%);
    }
}

@media only screen and (max-width: 510px) {
    .btn_reservation {
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: .7px;
    line-height: 10%;
    width: 130px;
    height: 40px;
}
    /* .btn_reservation {
        position: absolute;
        right: 5%;
        top: 60%;
    } */
}



.ch_order_shell h3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
    font-weight: 700;
    color: #fff;
}



/*---------------------------------------------------------------------------------------------------------------------*/














@media only screen and (max-width: 991px) {

}
